.footer {
  display: flex;
  align-items: center;
  color: #00cfff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0 2.5% 10%;
}
.footer p {
  font-weight: 400;
}
@media (max-width: 75em) {
  .footer {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
@media (max-width: 40.6em) {
  .footer {
    display: none;
  }
}
.footer-text {
  margin: 0 0 0 0.9%;
}
