.social-media {
  animation: opacityEffect 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) both, slideUpEffect 3s ease both;
  background-color: #00cfff;
  border-radius: 1.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1.2% 0.7%;
  transition: all 0.2s;
  position: fixed;
  top: 40%;
  right: 0%;
}
@media (max-width: 75em) {
  .social-media {
    padding: 1% 0.8%;
  }
}
@media (max-width: 56.25em) {
  .social-media {
    padding: 1% 0.6%;
  }
}
@media (max-width: 40.6em) {
  .social-media {
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 0.8% 6%;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    right: auto;
    top: auto;
  }
}
.social-media a {
  font-size: 2.1rem;
  text-decoration: none;
  padding: 1rem;
  color: #212529;
  transition: all 0.3s;
}
@media (max-width: 75em) {
  .social-media a {
    font-size: 2.3rem;
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 56.25em) {
  .social-media a {
    font-size: 1.8rem;
  }
}
@media (max-width: 40.6em) {
  .social-media a {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}
@media (max-width: 40.6em) {
  .social-media a {
    font-size: 1.5rem;
    padding: 0.8rem 1.7rem;
  }
}
.social-media a:hover {
  color: white;
}

.mail-icon {
  display: none;
  visibility: hidden;
}
@media (max-width: 40.6em) {
  .mail-icon {
    display: block;
    visibility: visible;
  }
}
