@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@300;500;800&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

*::selection {
  background-color: #0affa9;
  color: #212529;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.7;
}
@media (max-width: 75em) {
  html {
    font-size: 62.25%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
